@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

:root {
    --primary: #051b33;
    --primaryL: #a6ccf6;
    --accent: #c57013;
    --accentL: #f5c897;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    flex: 0 1 40px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
    background: var(--primary);
}

.row.footer {
  flex: 0 1 40px;
}


/* Navbar */
.nav-list {
    flex: 0 1 auto;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: .5rem 0;
    border-radius: 8px;
    background-color: white;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: var(--accent);
}

.nav-item:first-child {
    margin-left: 2rem;
    margin-right: .5rem;
}

.nav-item:nth-child(2) {
    margin-right: auto;
}


/* Menu Card */
.menu-card {
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #bacdd8;
    background-color: white;
}

/* Search Bar */
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    width: auto;
    padding: 10px 0 10px;
}

.search form {
    display: flex;
    align-items: center;
    flex: auto;
    height: 100%;
    padding: 2px;
    margin-right: 6px;
    border: 2px solid var(--primary);
    border-radius: 25px;
    box-sizing: border-box;
}


.search input{
    width: 100%;
    height: 100%;
    margin: 0 10px 0 10px;
    outline: 0;
    border: 0;
    border-radius: inherit;
    box-sizing: inherit;
}

.search input:not(:placeholder-shown) + svg {
    fill: var(--primary);
    background-color: var(--primaryL);
}

.search__glass {
    cursor: pointer;
    height: 100%;
    width: auto;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    fill: white;
    background-color: var(--primary);
    transition: 500ms all ease-in;
}

.search__close {
    cursor: pointer;
    height: 75%;
    width: auto;
    fill: var(--primary);
    transition: 500ms fill ease-in;
}

.search__close:hover {
    fill: red;
}


/* Card */
.detail-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
}

.detail-card img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.detail-card .tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

.detail-card .name {
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;
}

.detail-card p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.detail-card button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: var(--primary);
    background-color: var(--primaryL);
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.detail-card .card__details {
    padding: 16px 8px 8px 8px;
}

.detail-card button:hover {
    background-color: var(--primary);
    color: #e0efff;
}


@keyframes runAway {
    1%, 9% { transform: translate(-1px, 0); }
    2%, 8% { transform: translate(2px, 0); }
    3%, 5%, 7% { transform: translate(-4px, 0); }
    4%, 6% { transform: translate(4px, 0); }
    11% { transform: translate(100px, 40px); }
    13% { transform: translate(200px, 300px); }
    15% { transform: translate(400px, 150px); }
    18% { transform: translate(-100px, 100px); }
    90% { transform: translate(0, 0); }
    18%, 99% { opacity: 1; }
    19%, 91% { opacity: 0; }
}
